<div class="btn-group mb-2">
  <button type="button" class="btn btn-light" placement="top" ngbTooltip="Archive"><i
      class="uil uil-archive-alt"></i></button>
  <button type="button" class="btn btn-light" placement="top" ngbTooltip="Mark as spam"><i
      class="uil uil-exclamation-octagon"></i></button>
  <button type="button" class="btn btn-light" placement="top" ngbTooltip="Delete"><i
      class="uil uil-trash-alt"></i></button>
</div>
<div class="btn-group mb-2 ml-1" ngbDropdown ngbTooltip="Folder">
  <button type="button" class="btn btn-light" ngbDropdownToggle>
    <i class="uil uil-folder"></i>
    <i class="uil uil-angle-down"></i>
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <span class="dropdown-header">Move to</span>
    <a class="dropdown-item" href="javascript: void(0);">Social</a>
    <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
    <a class="dropdown-item" href="javascript: void(0);">Updates</a>
    <a class="dropdown-item" href="javascript: void(0);">Forums</a>
  </div>
</div>
<div class="btn-group mb-2 ml-1" ngbDropdown ngbTooltip="Labels">
  <button type="button" class="btn btn-light" ngbDropdownToggle>
    <i class="uil uil-label"></i>
    <i class="uil uil-angle-down"></i>
  </button>
  <div class="dropdown-menu" ngbDropdownMenu>
    <span class="dropdown-header">Label as:</span>
    <a class="dropdown-item" href="javascript: void(0);">Updates</a>
    <a class="dropdown-item" href="javascript: void(0);">Social</a>
    <a class="dropdown-item" href="javascript: void(0);">Promotions</a>
    <a class="dropdown-item" href="javascript: void(0);">Forums</a>
  </div>
</div>
<div class="btn-group mb-2 show ml-1" ngbDropdown ngbTooltip="More Actions">
  <button type="button" class="btn btn-light" ngbDropdownToggle>
    <i class="uil uil-ellipsis-h font-size-13"></i> More
    <i class="uil uil-angle-down"></i>
  </button>
  <div class="dropdown-menu show" ngbDropdownMenu x-placement="bottom-start"
    style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
    <span class="dropdown-header">More Option :</span>
    <a class="dropdown-item" href="javascript: void(0);">Mark as Unread</a>
    <a class="dropdown-item" href="javascript: void(0);">Add to Tasks</a>
    <a class="dropdown-item" href="javascript: void(0);">Add Star</a>
    <a class="dropdown-item" href="javascript: void(0);">Mute</a>
  </div>
</div>
