<div class="container-fluid">
    <app-page-title title="File Upload" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mt-0 mb-1">Dropzone File Upload</h4>
                    <p class="text-muted font-13 m-b-30">
                        DropzoneJS is an open source library that provides drag’n’drop file uploads with image previews.
                    </p>
                    
                    <div class="dropzone" [dropzone]="config" (error)="onUploadError($event)"
                      (success)="onUploadSuccess($event)">
                      <div class="fallback">
                        <input name="file" type="file" multiple />
                      </div>

                      <div class="dz-message needsclick">
                        <i class="h1 text-muted  uil-cloud-upload"></i>
                        <h3>Drop files here or click to upload.</h3>
                        <span class="text-muted font-13">(This is just a demo dropzone. Selected files are
                          <strong>not</strong> actually uploaded.)</span>
                      </div>
                    </div>
                    
                    
                    <div class="clearfix text-right mt-3">
                        <button type="button" class="btn btn-danger"> <i class="uil uil-arrow-right mr-1"></i> Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>