# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
*/node_modules*
Shreyu_v1.0.2/*

#amplify
react/amplify*
*react/amplify/\#current-cloud-backend
*/amplify/.config/local-*
*/amplify/logs
*/amplify/mock-data
*/amplify/backend/amplify-meta.json
*/amplify/backend/awscloudformation
*/amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
*/awsconfiguration.json
*/amplifyconfiguration.json
*/amplify-build-config.json
*/amplify-gradle-config.json
*/amplifytools.xcconfig
.secret-*
.vscode/*
react/.vscode/*
react/.gitignore
