<ul class="conversation-list" appSlimScroll [style.maxHeight.px]="maxHeight">
    <li class="clearfix" *ngFor="let chat of chatData" [ngClass]="
                {
                  'odd': chat.name === 'Shreyu'
                }">
        <div class="chat-avatar">
            <img src="{{chat.image}}" alt="male">
            <i>{{ chat.time }}</i>
        </div>
        <div class="conversation-text">
            <div class="ctext-wrap">
                <i>{{ chat.name }}</i>
                <p>{{ chat.message }}</p>
            </div>
        </div>
    </li>
</ul>
<form (ngSubmit)="messageSave()" [formGroup]="formData">
    <div class="row">
        <div class="col-lg-9">
            <input type="text" class="form-control" placeholder="Enter your text" formControlName="message"
                [ngClass]="{'is-invalid': chatSubmit && form.message.errors}">
            <div *ngIf="chatSubmit && form.message.errors" class="invalid-feedback">
                <span *ngIf="form.message.errors.required">This value is required.</span>
            </div>
        </div>

        <div class="col-lg-3">
            <button type="submit" class="btn btn-danger chat-send btn-block">Send</button>
        </div>
    </div>
</form>


<!-- END CHAT-->