<div class="card">
    <div class="card-body p-0">
        <div class="media p-3">
            <div class="media-body">
                <span class="text-muted text-uppercase font-size-12 font-weight-bold">{{ title }}</span>
                <h2 class="mb-0">{{ value }}</h2>
            </div>
            <div class="align-self-center">
                <span class="">
                    <i [attr.data-feather]="icon" appFeatherIcon class="icon-lg icon-dual-{{ color }}"></i>
                </span>
            </div>
        </div>
    </div>
</div>