<div class="card profile-widget">
    <img src="assets/images/covers/2.jpg" alt="Shreyu" class="card-img-top" />
    <div class="dropdown card-action float-right" ngbDropdown>
        <a href="javascript: void(0);" class="dropdown-toggle arrow-none" ngbDropdownToggle>
            <i class="uil uil-ellipsis-v font-size-16 text-white"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item"><i class="uil uil-edit-alt mr-2"></i>Edit</a>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item"><i class="uil uil-refresh mr-2"></i>Refresh</a>
            <div class="dropdown-divider"></div>
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item text-danger"><i class="uil uil-trash mr-2"></i>Delete</a>
        </div>
    </div>

    <div class="card-body text-center p-0">
        <div class="profile-info pb-3">
            <img src="assets/images/users/avatar-7.jpg" alt="" class="img-thumbnail avatar-xl rounded-circle" />
            <h5 class="mt-2 mb-0">Shreyu N</h5>
            <h6 class="text-muted font-weight-normal mt-2 mb-4">User Experience
                Specialist
            </h6>
            <button type="button" class="btn btn-primary btn-sm mr-1">Follow</button>
            <button type="button" class="btn btn-white btn-sm">Message</button>
        </div>
    </div>
</div>