<div class="card">
    <div class="card-body p-0">
        <div class="media p-3">
            <div class="media-body">
                <span class="text-muted text-uppercase font-size-12 font-weight-bold">{{ mainTitle }}</span>
                <h2 class="mb-0">{{ value }}</h2>
            </div>
            <div class="align-self-center">
                <apx-chart #chart class="apex-chart-widget" [series]="series" [chart]="chartData" [colors]="colors"
                    [tooltip]="tooltip" [stroke]="stroke" [fill]="fill" [markers]="markers">
                </apx-chart>
                <span class="text-success font-weight-bold font-size-13"
                    [ngClass]="{ 'text-danger': subValue === '5.05%' }"><i class='uil'
                        [ngClass]="{ 'uil uil-arrow-down': subValue === '5.05%' , 'uil uil-arrow-up': subValue !== '5.05%'}"></i>
                    {{ subValue }}</span>
            </div>
        </div>
    </div>
</div>